# Configures appc tests at Travis CI (https://travis-ci.org).

language: go

go:
 - 1.3
 - 1.4

install:
 - go get golang.org/x/tools/cmd/cover
 - go get golang.org/x/tools/cmd/vet

script:
 - ./test
